<!DOCTYPE html>
<html>
<head>
  <title>Sushitter</title>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "home" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "sb-admin" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "bootstrap" %>
	<%= stylesheet_link_tag "sb-admin" %>
	<%= stylesheet_link_tag "font-awesome" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
